@keyframes slideInLeft {
    from {
        transform: translateX(-300px);
    }

    to {
        transform: translateX(0);
    }
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Nunito';
    font-weight: bolder;
    background-color: #f2f2f2;
}

.logo-img {
    width: 100px;
    cursor: pointer;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #131415;
    padding: 1rem;
}

ul a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    border-bottom: solid rgba(250, 61, 225, 0.527);
    border-bottom-width: 1px;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 40px;
}

.nav__links li:hover {
    transform: translateY(10px);
}

.button-Instagram button {
    padding: 20px;
    cursor: pointer;
    border-radius: 2rem;
    color: black;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    box-shadow: 1px 1px 1px rgba(0, 255, 21, 0.699);
}

.button-Instagram button:hover {
    background-color: rgba(133, 122, 194, 0.808);
    transition-property: initial;
    transition-duration: 0.3s;
    transition-delay: 0s;
}

.main-image {
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

#section2 {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    animation-name: slideInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-in;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: forwards;
}

h3 {
    text-align: center;
    margin: 0;
    padding-top: 10px;
    font-size: 25px;
}

.content-images-products {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
}

.images-products {
    width: 20%;
    margin: 15px;
    box-sizing: border-box;
    float: left;
    text-align: center;
    border-radius: 20px;
    cursor: pointer;
    padding-top: 10px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    transition: .4s;
    background-color: #f2f2f2;
}

.images-products:hover {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    transform: translate(0px -8px);
}

.product-img__user {
    width: 200px;
    height: 350px;
    text-align: center;
    margin: 0 auto;
    display: block;
}

