@keyframes slideInLeft {
    from {
        transform: translateX(-300px);
    }

    to {
        transform: translateX(0);
    }
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}

body {
    font-family: 'Nunito';
    font-weight: bolder;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #131415;
    padding: 1rem;
    height: 80px;
    width: 100%;
}

.navbar,
.nav__links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.nav-links a {
    color: white;
    font-size: 20px;
    border-bottom: solid rgba(250, 61, 225, 0.527);
    border-bottom-width: 1px;
}

.logo-img {
    width: 100px;
    height: 60px;
    cursor: pointer;
}

ul {
    display: flex;
    gap: 40px;
}

.nav-links li:hover {
    transform: translateY(10px);
}

.button-Instagram button {
    padding: 1rem;
    cursor: pointer;
    border-radius: 15px;
    color: black;
    background-color: rgb(216, 175, 221);
    border: none;
    box-shadow: 1px 1px 1px rgb(255, 255, 255);
}

.button-Instagram button:hover {
    background-color: rgb(224, 132, 224);
    transition-property: initial;
    transition-duration: 0.3s;
    transition-delay: 0s;
}

main {
    background-color: #272d37;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

#card {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.card-info {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 50%;
    margin-top: 40px;
}

.card-info h1 {
    color: #adb9c7;
    font-size: 35px;
    font-weight: bolder;
}

.card-info p {
    font-size: 14px;
    color: #f3f4f6;
}

.card-info span {
    font-weight: bolder;
    font-size: 15px;
    color: #EB455F;
}

.card-info a {
    background-color: #1e50ff;
    padding: 15px;
    border-radius: 12px;
    font-size: 14px;
    color: #000000;
    display: flex;
    text-align: center;
    width: 30%;
}

.card-info a:hover {
    transform: translateY(10px);
}

.section2 {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    animation-name: slideInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-in;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: forwards;
    color: #adb9c7;
}

h3 {
    text-align: center;
    margin: 0;
    padding-top: 10px;
    font-size: 25px;
}

.content-images-products {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
}

.images-products {
    width: 20%;
    margin: 15px;
    box-sizing: border-box;
    float: left;
    text-align: center;
    border-radius: 20px;
    cursor: pointer;
    padding-top: 10px;
    box-shadow: 0 14px 28px rgba(255, 255, 255, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    transition: .4s;
    background-color: #272d37;
    color: #f3f4f6;
}

.images-products:hover {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(255, 255, 255, 0.322);
    transform: translate(0px -8px);
}

.product-img__user {
    width: 200px;
    height: 350px;
    text-align: center;
    margin: 0 auto;
    display: block;
}

.buy-1 {
    padding: 1.2rem;
    margin-top: 20px;
    margin-bottom: 20px;
    cursor: pointer;
    border-radius: 1rem;
    width: 63%;
    border: none;
    background-color: #000000;
    color: white;
    outline: none;
}

.buy-1:hover {
    background-color: #262A56;
    transition-property: initial;
    transition-duration: 0.3s;
    transition-delay: 0s;
}

.buy-2 {
    padding: 1.2rem;
    margin-top: 20px;
    margin-bottom: 20px;
    cursor: pointer;
    border-radius: 1rem;
    width: 63%;
    border: none;
    background-color: #2B3467;
    color: white;
    outline: none;
}

.buy-2:hover {
    background-color: #EB455F;
    transition-property: initial;
    transition-duration: 0.3s;
    transition-delay: 0s;
}

.buy-3 {
    padding: 1.2rem;
    margin-top: 20px;
    margin-bottom: 20px;
    cursor: pointer;
    border-radius: 1rem;
    width: 63%;
    border: none;
    background-color: #8B1874;
    color: white;
    outline: none;
}

.buy-3:hover {
    background-color: #FC4F00;
    transition-property: initial;
    transition-duration: 0.3s;
    transition-delay: 0s;
}

.buy-4 {
    padding: 1.2rem;
    margin-top: 20px;
    margin-bottom: 20px;
    cursor: pointer;
    border-radius: 1rem;
    width: 63%;
    border: none;
    background-color: #0F0E0E;
    color: white;
    outline: none;
}

.buy-4:hover {
    background-color: #541212;
    transition-property: initial;
    transition-duration: 0.3s;
    transition-delay: 0s;
}
