@keyframes slideInLeft {
    from {
        transform: translateX(-300px);
    }

    to {
        transform: translateX(0);
    }
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}

body {
    font-family: 'Nunito';
    font-weight: bolder;
}
                  /* NAVBAR */
header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #131415;
    padding: 1rem;
    height: 70px;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 2;
}

.navbar,
.nav-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 45px;
}

.nav-links a {
    color: white;
    font-size: 20px;
    border-bottom: solid rgba(250, 61, 225, 0.527);
    border-bottom-width: 1px;
}

.logo-img {
    width: 100px;
    height: 70px;
    cursor: pointer;
}

.cart-img {
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.nav-links li {
    transition: all .3s ease;
}

.nav-links li:hover {
    transform: translateY(10px);
}
                  /* MAIN */
main {
    background-color: #02050e;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding: 20px;
}
                  /* CARD TEXT */
#card {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
}

.card-info {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 50%;
    margin-top: 40px;
}

.card-info h1 {
    color: #adb9c7;
    font-size: 35px;
    font-weight: bolder;
}

.card-info p {
    font-size: 14px;
    color: #f3f4f6;
    width: 70%;
}

.card-info span {
    font-weight: bolder;
    font-size: 15px;
    color: #EB455F;
}

.card-info a {
    background-color: #1e50ff;
    padding: 15px;
    border-radius: 12px;
    font-size: 14px;
    color: #f3f4f6;
    display: flex;
    text-align: center;
    width: 30%;
    transition: all .3s ease;
    display: block;
}

.card-info a:hover {
    transform: translateY(10px);
}
                  /* CARD IMAGE */
.card-monthly {
    background-color: #272d37;
    padding: 20px;
    border-radius: 15px;
    margin-top: 70px;
    box-shadow: 0 14px 28px rgba(255, 255, 255, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    transition: .4s;
}

.card-monthly:hover {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(255, 255, 255, 0.322);
    transform: translate(0px -8px);
}

.card-monthly img {
    width: 300px;
    margin-top: 40px;
}

.card-monthly-info {
    display: flex;
    flex-direction: column;
    gap: 15px;
    
}

.card-monthly-top {
    display: flex;
    align-items: center;
    gap: 45px
}

.card-monthly-top span {
    padding: 10px;
    background-color: #1e50ff;
    border-radius: 10px;
    width: 25%;
    text-align: center;
}

.card-monthly-bottom {
    display: flex;
    gap: 50px
}

.btn-cardbottom {
    color: white;
    font-size: 15px;
    border: none;
    background-color: #1e50ff;
    padding: 5px;
    border-radius: 12px;
    transition: all .3s ease;
}

.card-monthly-bottom button:hover {
    transform: translateX(15px);
}

.card-monthly-bottom span {
    padding: 10px;
    background-color: #1e4fff5d;
    border-radius: 10px;
    width: 42%;
    text-align: center;
}
                  /* SECCION H2 CON ANIMACION */
.section2 {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    animation-name: slideInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-in;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: forwards;
    color: #adb9c7;
}

.content-images-products {
    display: flex;  
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
}

.images-products {
    width: 22%;
    margin: 15px;
    text-align: center;
    border-radius: 20px;
    cursor: pointer;
    padding-top: 15px;
    box-shadow: 0 14px 28px rgba(255, 255, 255, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    transition: .4s;
    background-color: #272d37;
    color: #f3f4f6;
}

.images-products:hover {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(255, 255, 255, 0.322);
    transform: translate(0px -8px);
}

.images-products img {
    width: 200px;
    height: 350px;
    margin: 0 auto;
}
                  /* BOTONES DE PRODUCTOS, PARA AGREGAR AL CARRITO  */
.buy-1 {
    padding: 1.2rem;
    margin-top: 20px;
    margin-bottom: 20px;
    cursor: pointer;
    border-radius: 1rem;
    width: 63%;
    border: none;
    background-color: #000000;
    color: white;
    outline: none;
}

.buy-1:hover {
    background-color: #262A56;
    transition-property: initial;
    transition-duration: 0.3s;
    transition-delay: 0s;
}

.buy-2 {
    padding: 1.2rem;
    margin-top: 20px;
    margin-bottom: 20px;
    cursor: pointer;
    border-radius: 1rem;
    width: 63%;
    border: none;
    background-color: #2B3467;
    color: white;
    outline: none;
}

.buy-2:hover {
    background-color: #EB455F;
    transition-property: initial;
    transition-duration: 0.3s;
    transition-delay: 0s;
}

.buy-3 {
    padding: 1.2rem;
    margin-top: 20px;
    margin-bottom: 20px;
    cursor: pointer;
    border-radius: 1rem;
    width: 63%;
    border: none;
    background-color: #8B1874;
    color: white;
    outline: none;
}

.buy-3:hover {
    background-color: #FC4F00;
    transition-property: initial;
    transition-duration: 0.3s;
    transition-delay: 0s;
}

.buy-4 {
    padding: 1.2rem;
    margin-top: 20px;
    margin-bottom: 20px;
    cursor: pointer;
    border-radius: 1rem;
    width: 63%;
    border: none;
    background-color: #0F0E0E;
    color: white;
    outline: none;
}

.buy-4:hover {
    background-color: #541212;
    transition-property: initial;
    transition-duration: 0.3s;
    transition-delay: 0s;
}
                  /* Footer */
footer {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #0e0d0d;
}

.container {
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 90px;
}

.container h4 {
    color: sandybrown;
    font-size: 20px;
}

.container-links a {
    color: #ffffff;
    margin-top: 10px;
    gap: 15px;
}

.container-links li {
    transition: all .3s ease;
}

.container-links li:hover {
    transform: translateX(20px);
}

.container-copyright {
    color: white;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

                  /* MENU HAMBURGUESA */